[package]
name = "edera-sprout"
description = "Modern UEFI bootloader"
license = "Apache-2.0"
version = "0.0.17"
homepage = "https://sprout.edera.dev"
repository = "https://github.com/edera-dev/sprout"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
bitflags = "2.10.0"
toml = "0.9.8"
log = "0.4.28"

[dependencies.image]
version = "0.25.8"
default-features = false
features = ["png"]
optional = true

[dependencies.serde]
version = "1.0.228"
features = ["derive"]

[dependencies.sha256]
version = "1.6.0"
default-features = false

[dependencies.uefi]
version = "0.36.0"
features = ["alloc", "logger"]

[dependencies.uefi-raw]
version = "0.12.0"

[features]
default = ["splash"]
splash = ["dep:image"]

[profile.dev]
# We have to compile for opt-level = 2 due to optimization passes
# which don't handle the UEFI target properly.
opt-level = 2

[profile.release]
lto = "thin"
strip = "symbols"

[profile.release-debuginfo]
inherits = "release"
strip = "none"
debug = 1

[profile.dev-fast]
inherits = "dev"
strip = "debuginfo"
debug = 0
opt-level = 2

[patch.crates-io.simd-adler32]
git = "https://github.com/edera-dev/sprout-patched-deps.git"
rev = "2c4fcc84b50d40c28f540d4271109ea0ca7e1268"

[patch.crates-io.moxcms]
git = "https://github.com/edera-dev/sprout-patched-deps.git"
rev = "2c4fcc84b50d40c28f540d4271109ea0ca7e1268"

[[bin]]
name = "sprout"
path = "src/main.rs"
